<ng-template #teaser>
	<div class="teaser">
		<div data-teaser-group="esia_noAuth">
			<div class="banner">
				<div><img src="https://gu-st.ru/content/Banner/Esia_a1.svg" style="width: 48px;height: 48px;"></div>
				<div style="width: 160px;margin: 16px 0 -1px;letter-spacing: -0.025em;">
					<a href="https://www.gosuslugi.ru/esia-help"> Куда ещё можно войти с паролем от Госуслуг?</a>
				</div>
			</div>
		</div>
	</div>
</ng-template>
<header>
	<img class="logo" src="assets/logo.svg">
	<span class="slogan">{{selected === 'ru' ? 'Единая система ' : 'Integrated Identification'}}
		<br> {{selected === 'ru' ? 'идентификации и аутентификации' : 'and Authentication System'}}</span>
</header>
<div class="page-login">
	<div class="login">
		<form [formGroup]="form">
			<div class="content">
				<h1>{{selected === 'ru' ? 'Вход' : 'Log in'}}</h1>
				<h2>{{selected === 'ru' ? 'для портала Госуслуг' : ''}}</h2>
				<div class="menu">
					<div class="el" [class.active]="loginStepPhone" (click)="loginStepPhone = true">
						<p>{{selected === 'ru' ? 'Телефон или почта' : 'Phone or email'}}</p>
					</div>
					<div class="el" [class.active]="!loginStepPhone" (click)="loginStepPhone = false">
						<p>{{selected === 'ru' ? 'СНИЛС' : 'SNILS'}}</p>
					</div>
				</div>
				<mat-form-field appearance="legacy">
					{{selected === 'ru' ? '' : ''}}
					{{selected === 'ru' ? '' : ''}}
					<mat-label>{{loginStepPhone ? (selected === 'ru' ? 'Мобильный телефон или почта' : 'Mobile phone or email') : (selected === 'ru' ? 'СНИЛС' : 'SNILS')}}</mat-label>
					<input formControlName="login" matInput type="text" autocomplete="off">
				</mat-form-field>
				<mat-form-field>
					<mat-label>{{selected === 'ru' ? 'Пароль' : 'Password'}}</mat-label>
					<input formControlName="password" [type]="hide ? 'password' : 'text'" matInput type="text" autocomplete="off">
					<mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
				</mat-form-field>
				<mat-checkbox
						color="primary">{{selected === 'ru' ? 'Чужой компьютер' : 'Do not remember me'}}                </mat-checkbox>
				<button color="primary" mat-raised-button type="submit"
						(click)="onSubmit()">{{selected === 'ru' ? 'Войти' : 'Log in'}}                                    </button>
				<a class="recovery"
				   href="https://esia.gosuslugi.ru/recovery">{{selected === 'ru' ? 'Я не знаю пароль' : 'Forgot your password?'}}</a>
			</div>
		</form>
		<ng-container [ngTemplateOutlet]="isSmallScreen ? null : teaser"></ng-container>
	</div>
	<div class="reg-box">
		<a href="https://esia.gosuslugi.ru/registration/">{{selected === 'ru' ? 'Зарегистрируйтесь' : 'Register'}}</a>
		{{selected === 'ru' ? 'для полного доступа к сервисам' : 'for full access to the services'}}
	</div>
	<div class="enter-list">
		<a class="enter-item">{{selected === 'ru' ? 'Вход с помощью электронной подписи' : 'Login using electronic devices'}}</a>
	</div>
	<ng-container [ngTemplateOutlet]="isSmallScreen ? teaser : null"></ng-container>
</div>
<div class="p-footer">
	<div class="basefooter">
		<div class="inner clearfix">
			<div class="left-part">
				<div class="links clearfix">
					<a href="https://www.gosuslugi.ru/help/faq/c-1"
					   class="link">                        {{selected === 'ru' ? 'Помощь и поддержка' : 'Help & Support'}}                    </a>
					<a href="/registration/policiesTerms.xhtml"
					   class="link">                        {{selected === 'ru' ? 'Условия использования' : 'Terms of Use'}}</a>
					<a href="/registration/policiesPrivacy.xhtml"
					   class="link">                        {{selected === 'ru' ? 'Политика конфиденциальности' : 'Security policy'}}                    </a>
				</div>
			</div>
			<div *ngIf="!isSmallScreen" class="right-part">
				<mat-form-field appearance="legacy">
					<img [src]="selected === 'ru' ? 'https://esia.gosuslugi.ru/idp/resources/img/flag_ru.svg' : 'https://esia.gosuslugi.ru/idp/resources/img/flag_en.svg'"
						 matPrefix alt="">
					<mat-select [(value)]="selected">
						<mat-option value="ru">
							<img src="https://esia.gosuslugi.ru/idp/resources/img/flag_ru.svg" alt="">
							Русский
							<img *ngIf="selected==='ru'"
								 src="https://esia.gosuslugi.ru/idp/resources/img/icon_select_active.svg" alt=""
								 class="check">
						</mat-option>
						<mat-option value="usa">
							<img src="https://esia.gosuslugi.ru/idp/resources/img/flag_en.svg" alt="">
							English
							<img *ngIf="selected==='usa'"
								 src="https://esia.gosuslugi.ru/idp/resources/img/icon_select_active.svg" alt=""
								 class="check">
						</mat-option>
					</mat-select>
				</mat-form-field>
			</div>
		</div>
		<div class="inner bottom clearfix">
			<div class="logo dept-mks"></div>
			<div class="copyrights">
				{{selected === 'ru' ? 'Официальный интернет-портал государственных услуг, 2020 г.' : 'The official internet-portal of public services, 2020'}}

			</div><!-- end .copyright -->
			<div class="logo dept-rtk"></div>
		</div>
	</div><!-- end .basefooter -->
</div>
