:host {
	background: #f7f9f9;
	color: #3b3b3b;
	font: 14px/18px 'Helvetica Neue', helvetica, arial, sans-serif;
	font-size: 15px;
	height: 100%;
	line-height: normal;
	overflow-y: scroll;
	position: relative;
	z-index: 1;
}

header {
	align-items: center;
	display: flex;
	justify-content: center;
	padding: 29px 0 33px;

	img {
		margin-top: 8px;
		width: 154px;
	}

	.slogan {
		color: #434343;
		display: inline-block;
		font-family: 'ALS Ekibastuz', sans-serif;
		font-size: 12px;
		letter-spacing: -0.2px;
		line-height: 15px;
		margin: 8px 0 0 18px;
		max-width: 210px;
		text-align: left;
		width: 195px;
	}
}

.page-login {
	margin: 0 auto;
	max-width: 380px;
	text-align: center;

	.login {
		margin: 15px 0 0 0;
		position: relative;

		form {
			max-width: 368px;
			width: 100%;

			.content {
				background: #fff;
				box-shadow: 0 0 0 3px #f0f0f0;
				margin-bottom: 30px;
				padding: 30px 47px 34px;

				h1 {
					color: #3b3b3b;
					font: 36px/50px 'ALS Ekibastuz', 'Helvetica Neue', helvetica, arial, sans-serif;
					margin-bottom: 51px;
					margin-top: 0;
				}

				h2 {
					color: #3b3b3b;
					font: 14px/16px 'ALS Ekibastuz', 'Helvetica Neue', helvetica, arial, sans-serif;
					margin-bottom: -10px;
					padding-bottom: 0;
					position: relative;
					top: -57px;
				}

				.menu {
					border-bottom: 1px solid #cdd1d4;
					color: #005faf;
					display: flex;
					font-weight: 600;
					justify-content: space-around;

					.el {
						border-bottom: #3b3b3b;
						border-bottom: 4px solid transparent;
						width: 94px;

						&:first-of-type {
							width: 180px;
						}

						&.active {
							border-bottom: 4px solid #005faf;
							color: #000;
						}

						p {
							font-size: 14px;
							margin-bottom: 4px;
							margin-top: 0;
						}
					}
				}

				mat-form-field {
					background: #fff;
					border: 1px solid #cdd1d4;
					box-sizing: border-box;
					color: #101010;
					height: 48px;
					line-height: 48px;
					margin-bottom: 17px;
					margin-top: 5px;
					padding-left: 16px;
					padding-right: 16px;
					position: relative;
					width: 100%;
					z-index: 5;

					.mat-form-field-underline {
						display: none;
					}

					.mat-form-field-infix {
						border-top: 0;
						margin: 0;
						padding: 0;

						label {
							font-size: 14px;
							top: 12px;
						}
					}

					&:first-of-type {
						margin-top: 45px;
					}
				}

				button {
					background: #005faf;
					font-size: 18px;
					font-weight: 400;
					height: 48px;
					line-height: 43px;
					min-width: 170px;
					width: 100%;
				}
			}
		}
	}
}

.mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label, .mat-form-field-appearance-legacy.mat-form-field-can-float .mat-input-server:focus + .mat-form-field-label-wrapper .mat-form-field-label {
	font-size: 12px;
	transform: translateY(-0.68125em) scale(0.75) perspective(100px) translateZ(0.001px);
}

input.mat-input-element {
	margin-top: 0.4375em;
}

a {
	color: #0263b0;
	font-size: 14px;
	line-height: 20px;
	text-decoration: none;

	&:hover {
		color: #005398;
		text-decoration: underline;
	}
}

.recovery {
	display: block;
	margin-bottom: 0;
	padding-top: 17px;
}

.mat-form-field-wrapper {
	height: inherit;
}

mat-checkbox {
	display: flex;
	font-size: 15px;
	margin-bottom: 36px;
	width: 100%;
}

.mat-form-field-appearance-legacy .mat-form-field-label {
	color: #9a9a9a;
}

.mat-form-field-label,
mat-checkbox {
	font-family: "Helvetica Neue", sans-serif !important;
}

.mat-checkbox-inner-container {
	height: 20px;
	width: 20px;
}

.teaser {
	left: calc(100% + 22px);
	position: absolute;
	top: 0;
	width: 224px;

	.banner {
		background: #f8fcff;
		border: 1px solid #005faf;
		border-radius: 4px;
		color: #3b3b3b;
		line-height: 24px;
		padding: 16px 16px 24px 32px;
		position: relative;
		text-align: left;

		img {
			height: 48px;
			width: 48px;
		}

		a {
			color: #0263b0;
			font-size: 15px;
			letter-spacing: -0.02em;
			text-decoration: none;

			&:hover {
				color: #005398;
				text-decoration: underline;
			}
		}
	}
}

.reg-box {
	font-size: 14px;
	padding-bottom: 12px;
}

.enter-list {
	font-size: 14px;
	line-height: 18px;
	margin-bottom: 45px;
}

.p-footer {
	background: #e6ecec;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 2;
}

.basefooter {
	height: 264px;
	margin: 0 auto;
	max-width: 1180px;
	position: relative;
}

.inner {
	border-bottom: 1px solid #cdd1d4;
	margin: 0 auto;
	padding: 30px 0 18px 0;
	position: relative;
	width: 1180px;
}

.p-footer .inner.bottom {
	border-bottom: none;
	box-sizing: border-box;
	max-width: 680px;
	padding: 52px 64px 0;
}

.p-footer .logo.dept-mks {
	background: url(https://esia.gosuslugi.ru/idp/resources/img/flt/sprite_footer_logo.svg) no-repeat;
	background-size: 100%;
	height: 65px;
	left: 0;
	top: 23px;
	width: 64px;
}

.p-footer .logo {
	position: absolute;
}

.p-footer .copyrights {
	color: #535b63;
	font-family: Helvetica Neue, sans-serif;
	font-size: 15px;
	letter-spacing: .01em;
	line-height: 20px;
	text-align: center;
}

.enter-item {
	cursor: pointer;
}

.p-footer .logo.dept-rtk {
	background: url(https://esia.gosuslugi.ru/idp/resources/img/flt/sprite_footer_logo.svg) no-repeat 0 bottom;
	background-size: 100%;
	height: 56px;
	right: 0;
	top: 28px;
	width: 65px;
}

.p-footer .left-part {
	float: left;
}

.p-footer .right-part {
	float: right;
}

.clearfix:after {
	clear: both;
	content: '';
	display: table;
}

.p-footer .links a {
	color: #565656;
	float: left;
	font-family: Helvetica Neue, sans-serif;
	font-size: 15px;
	letter-spacing: .01em;
	margin: 0 20px 20px 0;
	position: relative;
	text-decoration: none;
	white-space: nowrap;
	width: 180px;
}

.mat-form-field-appearance-legacy {
	border: 1px solid #b9c1c4;
	border-radius: 3px;
	color: #3b3b3b;;
	height: 38px;
	width: 176px;

	.mat-form-field-underline {
		display: none;
	}
}

.mat-form-field-type-mat-select:not(.mat-form-field-disabled) .mat-form-field-flex {
	align-items: center;
	cursor: pointer;
	display: inline-flex;
	height: inherit;
}

.mat-select-arrow-wrapper {
	left: 10px;
	margin-left: 10px;
	padding-right: 10px;
}

.mat-form-field-prefix {
	height: 18px;
	padding: 0 15px;
}

.mat-form-field-infix {
	border-top: 0;
	margin: 0;
	padding: 0;
}

.mat-select-value-text {
	box-sizing: border-box;
	color: #3b3b3b;
	font-family: Helvetica Neue, sans-serif;
	font-size: 14px;
	line-height: 24px;
}

.cdk-overlay-pane { transform: translateX(-58px) translateY(-119px) !important;}

.mat-select-panel:not([class*=mat-elevation-z]) {
	box-shadow: 0 6px 8px #cdd1d4 !important;
	min-width: calc(100% + 55px) !important;
}

.mat-select-panel {
	border-radius: 0 !important;
}

.mat-select-panel .mat-option.mat-selected:not(.mat-option-multiple) {
	background-color: #fff;
	height: 43px;
}

.mat-option:hover {
	background-color: #005faf !important;
	color: #fff !important;
}

.mat-option-text {
	display: inline-flex !important;
	font-family: Helvetica Neue, sans-serif !important;
	font-size: 14px !important;

	img {
		padding-right: 10px;
	}
}

.check {
	height: 18px;
	position: absolute;
	right: 10px;
	top: calc(50% - 9px);
	width: 18px;
}

@media screen and (max-width: 800px) {
	.page-login {
		max-width: 360px;
	}
	.teaser {
		margin: 20px 24px 51px;
		position: static;
		width: auto;
	}
	header {
		flex-direction: column;
		padding: 15px 0 24px;

		img {
			width: 130px;
		}

		.slogan {
			text-align: center;
		}
	}
	.page-login .login form .content h1 {
		font-size: 24px;
		line-height: 28px;
	}
	.page-login .login form .content h2 {
		top: -48px;
	}
	.page-login .login form .content {
		padding: 32px 24px 34px;
	}
	.page-login .login form .content .menu .el p {
		font-size: 16px;
	}
	a, .reg-box {
		font-size: 16px;
	}
	.reg-box {
		margin: 0 auto;
		max-width: 257px;
	}
	.enter-list a {
		font-size: 14px;
	}
	.enter-list {
		margin-bottom: 24px;
	}
	.p-footer .inner.bottom {
		padding: 12px 40px 24px;
	}
	.p-footer .logo.dept-mks {
		background-size: 100%;
		height: 41px;
		top: 15px;
		width: 40px;
	}
	.p-footer .copyrights {
		font-size: 10px;
		line-height: 20px;
		margin: 0 0 0 16px;
		text-align: left;
		width: 160px;
	}
	.p-footer .logo.dept-rtk {
		background-size: 100%;
		height: 37px;
		top: 14px;
		width: 40px;
	}
}

@media screen and (min-width: 433px) {
	.page-login {
		.content {
			margin-bottom: 30px;
			padding: 40px 47px;

			h1 {
				margin: -2px 0 40px;
			}
		}
	}

	.basefooter {
		height: 304px;
	}
}

@media screen and (min-width: 800px) {
	.basefooter {
		height: 207px;
	}
}

@media screen and (max-width: 1200px) {
	.p-footer {
		height: auto;
		max-width: 100%;
		min-width: 320px;

		.basefooter {
			box-sizing: border-box;
			height: auto;
			margin: 0 auto;
			padding: 0 24px;
			width: 320px;
		}

		.inner,
		.links {
			width: 100%;

			&.bottom {
				padding: 12px 40px 24px;
			}
		}

		.links a {
			font-size: 14px;
			letter-spacing: 0;
			margin-bottom: 16px;
		}
	}
}


