<header>
	<img class="logo" src="assets/logo.svg">
	<span class="slogan">Единая система <br>идентификации и аутентификации</span>
</header>
<div class="page-login">
	<div class="login">
		<form [formGroup]="form">
			<div class="content">
				<h1>Вход</h1>
				<h2>для портала Госуслуг</h2>
				<div class="menu">
					<div class="el" [class.active]="loginStepPhone" (click)="loginStepPhone = true">
						<p>Телефон или почта</p>
					</div>
					<div class="el" [class.active]="!loginStepPhone" (click)="loginStepPhone = false">
						<p>СНИЛС</p>
					</div>
				</div>
				<mat-form-field appearance="legacy">
					<mat-label>{{loginStepPhone ? 'Мобильный телефон или почта' : 'СНИЛС'}}</mat-label>
					<input formControlName="login" matInput type="text">
				</mat-form-field>
				<mat-form-field>
					<mat-label>Пароль</mat-label>
					<input formControlName="password" matInput type="text">
				</mat-form-field>
				<mat-checkbox color="primary">Чужой компьютер</mat-checkbox>
				<button color="primary" mat-raised-button type="submit" (click)="onSubmit()">Войти</button>
				<a class="recovery" href="https://esia.gosuslugi.ru/recovery">Я не знаю пароль</a>
			</div>
		</form>
		<div class="teaser">
			<div data-teaser-group="esia_noAuth">
				<div class="banner">
					<div><img src="https://gu-st.ru/content/Banner/Esia_a1.svg" style="width: 48px;height: 48px;"></div>
					<div style="width: 160px;margin: 16px 0 -1px;letter-spacing: -0.025em;"><a
							href="https://www.gosuslugi.ru/esia-help">Куда ещё можно войти с паролем от Госуслуг?</a>
					</div>
				</div>
			</div>
		</div>
	</div>
<!--	<div class="reg-box">-->
<!--		<a href="https://esia.gosuslugi.ru/registration/">Зарегистрируйтесь</a> для полного доступа к&nbsp;сервисам-->
<!--	</div>-->
<!--	<div class="enter-list">-->
<!--		<a class="enter-item"> Вход с помощью электронной подписи </a>-->
<!--	</div>-->
</div>

<router-outlet></router-outlet>
